<div class="login-form-container">
  <div class="form-container">
    <form autocomplete="false" class="form">
      <h4 class="form-header">
        Login
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </h4>
      <div class="control">
        <label for="email">Email</label>
        <input id="email" required type="text">
      </div>
      <div class="control">
        <label for="password">Password</label>
        <input autocomplete="new-password" id="password" required type="password">
      </div>
      <div class="control">
        <button class="btn" type="submit">Login</button>
        <p class="alter-way">
          <a [routerLink]="'/signup'">Create a new account</a>
        </p>
      </div>
    </form>
  </div>
</div>
