<div class="signup-form-container">
  <div class="form-container">
    <form autocomplete="false" class="form">
      <h4 class="form-header">Sign up
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </h4>
      <div class="control">
        <label for="name">Name</label>
        <input required id="name" type="text">
      </div>
      <div class="control">
        <label for="phone">Phone</label>
        <input required id="phone" type="text">
      </div>
      <div class="control">
        <label for="email">Email</label>
        <input required id="email" type="text">
      </div>
      <div class="control">
        <label for="password">Password</label>
        <input required autocomplete="new-password" id="password" type="password">
      </div>
      <div class="control">
        <button class="btn" type="submit">Signup</button>
        <p class="alter-way">
          <a [routerLink]="'/login'">Already have an account?</a>
        </p>
      </div>
    </form>
  </div>
</div>
