.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: #fff;
  flex-direction: column;
}

.btn {
  margin-top: 1.2rem;
}
