/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

html {
  font-size: 62.5%
}

body {
  overflow-x: hidden;
  background-color: #17a598;
  font-family: Helvetica, sans-serif;
}

.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 45rem;
  padding: 5rem 4rem;
  padding-bottom: 0;
  background-color: #2980b9;
  color: #fff;
  font-size: 1.6rem;
  box-shadow: 9px 13px 7px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid transparent;
  border-radius: 1.6rem;
}

.form>.form-header {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 3.2rem;
  margin-bottom: 0.6rem;
  align-self: center;
  margin-top: -2rem;
}

.form>.form-header>i {
  margin-bottom: 0.5rem;
}

.control {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
}

.control label {
  color: #eee;
}

.control input {
  margin-top: 0.8rem;
  padding: 0.8rem;
  padding-left: 0;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
  background-color: #2980b9;
  color: #fff;
  font-size: 1.8rem;
  width: 100%;
  outline: 0;
  transition: all 0.2s ease-in-out;
  /* font-family: Helvetica, sans-serif */
}

.control input:focus {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
}

.control>.btn {
  align-self: center;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 1.6rem;
  width: 100%;
  background-color: #ff7f3e;
  padding: 1rem 2.5rem;
  color: #ffff;
  box-shadow: 5px 4px 7px 0px rgba(0, 0, 0, 0.4);
  outline: 0;
  transition: all 0.3s ease-in-out;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.control>.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 6px 10px 16px 0px rgba(0, 0, 0, 0.4);
}

.control>.btn:active {
  transform: translateY(0.5rem);
  box-shadow: 6px 8px 7px 0px rgba(0, 0, 0, 0.4);
}

.control>.alter-way {
  text-align: center
}

.control>.alter-way>a {
  color: #fff;
  padding: 0.5rem 0;
}

.control input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: #fff;
  border-bottom: 1.5px solid hsla(20, 100%, 91%, 1);
  transition: background-color 5000s ease-in-out 0s;
}

.fa {
  vertical-align: bottom;
}

@media(max-width:490px) {
  .form {
    min-width: 85%;
    padding: 2rem;
    padding-bottom: 0;
  }
  .form>.form-header {
    font-size: 2.6rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .control {
    margin: 1rem 0;
  }
  .control>.btn {
    margin-top: -0.5rem;
  }
  .alter-way {
    padding-bottom: 0.8rem;
  }
}
